<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DARET-MANAGEMENT | SIGN UP</title>
	<link rel="preconnect" href="https://fonts.bunny.net">
	<link rel="icon" type="image/png" sizes="256x256" href="images/dollar.png">
	<link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/index.css}">
	  <!-- Toastr -->
    <link rel="stylesheet" th:href="@{/vendor/toastr/css/toastr.min.css}">
</head>

<body>
	<div class="container text-gray-900 antialiased">
        <form th:action="@{/registration}" method="post" role="form" th:object="${user}">
            <div class="login-1">
                <div class="container">
                    <div class="login-form my-auto">
                        <div class="row align-items-center">
                            <div class="col-md-5">
                                <div class="img-box">
                                    <img th:src="@{/images/login.png}" class="img img-fluid" title="login"
                                        alt="welcome image">
                                </div>
                            </div>

							<!-- Registration Form Section -->
							<div class="col-md-7">
		
								<!-- Personal Information -->
								<div class="row">
									<div class="col-md-6 form-group">
										<input style="border-radius: 1rem;" class="form-control block w-100 w-full"
											type="text" name="nom" th:field="*{nom}" required autofocus
											placeholder="Entrez votre nom" />
									</div>
									<div class="col-md-6 form-group">
										<input style="border-radius: 1rem;" class="form-control block w-100 w-full"
											type="text" name="prenom" th:field="*{prenom}" required autofocus
											placeholder="Entrez votre prenom" />
									</div>
								</div>

								<div class="row">
									<div class="col-md-6 form-group">
										<input style="border-radius: 1rem;" class="form-control block w-100 w-full"
											type="text" name="cin" th:field="*{cin}" required autofocus
											placeholder="Entrez votre cin" />
									</div>
									<div class="col-md-6 form-group">
										<input style="border-radius: 1rem;" class="form-control block w-100 w-full"
											type="email" name="email" th:field="*{email}" required autofocus
											placeholder="Entrez votre email" />
									</div>
								</div>

								<!-- Additional Information -->
								<div class="row">
									<div class="col-md-6 form-group">
										<select style="border-radius: 1rem;" class="form-control w-100" name="role"
											th:field="*{role}">
											<option value="CREATEUR">CREATEUR</option>
											<option value="USER">UTILISATEUR</option>
										</select>
									</div>
									<div class="col-md-6 form-group">
										<select style="border-radius: 1rem;" class="form-control w-100" name="gender"
											th:field="*{gender}">
											<option value="homme">Homme</option>
											<option value="femme">Femme</option>
										</select>
									</div>
								</div>

								<!-- Password Section -->
								<div class="row">
									<div class="col-md-6 form-group">
										<input style="border-radius: 1rem;" class="form-control block w-100 w-full"
											type="password" name="password" th:field="*{password}" required autofocus
											placeholder="Entez votre mot de passe" />
									</div>
									<div class="col-md-6 form-group">
										<input style="border-radius: 1rem;" class="form-control block w-100 w-full"
											type="password" name="confirmPassword" th:field="*{confirmPassword}"
											required placeholder="Confirmez votre mot de passe" />
									</div>
								</div>

								<!-- Submission Section -->
								<div class="row">
									<div class="col-md-12 form-group">
										<button class="btn btn-primary w-100 " style="border-radius: 1rem;"
											type="submit">Enregistrer</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

 <script th:if="${successMessage}" th:inline="javascript">
	    /*<![CDATA[*/
	    $(document).ready(function() {
		Swal.fire({
		  icon: "success",
		  title: [[${successMessage}]],
		  showConfirmButton: false,
		  timer: 2000,
		  
		});
	   });
	    /*]]>*/
	</script>
	<script th:if="${errorMessage}" th:inline="javascript">
	    /*<![CDATA[*/
	    $(document).ready(function() {
		Swal.fire({
		  icon: "error",
		  title: "Oups...",
		  text:[[${errorMessage}]],
		});
	   });
	    /*]]>*/
	</script>
</body>
</body>

</html>