<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DARET-MANAGEMENT | RESET PASSWORD</title>
	<link rel="preconnect" href="https://fonts.bunny.net">
	<link rel="icon" type="image/png" sizes="256x256" href="images/dollar.png">
	<link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
	<div class="container font-sans text-gray-900 antialiased">
		<form method="post" role="form" th:action="@{/reset-password}" onsubmit="return validatePassword()">
			<div class="login-1">
				<div class="container">
					<div class="login-form my-auto">
						<div class="row align-items-center">
							<div class="col-md-6">
								<div class="img-box">
									<img th:src="@{/images/Reset_password.png}" class="img img-fluid" title="login"
										alt="welcome image">
								</div>
							</div>
							<div class="col-md-6">
								<div class="login-box">
									<div class="row">
										<h4 class="login-title">Réinitialiser le mot de passe</h4>
									</div>

									<div class="form-group">
										<input id="password" class="form-control block mt-1 w-full"
											style="border-radius: 1rem;" placeholder="Entrez le nouveau mot de passe"
											type="password" name="password" required />
									</div>
									<div class="form-group">
										<input id="confirmPassword" class="form-control block mt-1 w-full"
											style="border-radius: 1rem;" placeholder="Confirmez votre mot de passe"
											type="password" name="password" required />
									</div>
									<button class="btn btn-primary w-100" style="border-radius: 1rem;">
										Enregistrer
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

	<script th:if="${successMessage}" th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function () {
			Swal.fire({
				icon: "success",
				title: [[${successMessage}]],
				showConfirmButton: false,
				timer: 2000,

			});
		});
	    /*]]>*/
	</script>
	<script th:if="${errorMessage}" th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function () {
			Swal.fire({
				icon: "error",
				title: "Oups...",
				text: [[${errorMessage}]],
			});
		});
	    /*]]>*/
	</script>
	<script>
		function validatePassword() {
			var password = document.getElementById("password").value;
			var confirmPassword = document.getElementById("confirmPassword").value;

			if (password !== confirmPassword) {
				alert("Les mots de passe ne correspondent pas");
				return false;
			}

			return true;
		}
	</script>
</body>

</html>