<!DOCTYPE html>
<html lang="en">

<head th:replace="layout/head :: head">


<body>

	<!--*******************
        Preloader start
    ********************-->
	<div id="preloader">
		<div class="sk-three-bounce">
			<div class="sk-child sk-bounce1"></div>
			<div class="sk-child sk-bounce2"></div>
			<div class="sk-child sk-bounce3"></div>
		</div>
	</div>
	<!--*******************
        Preloader end
    ********************-->


	<!--**********************************
        Main wrapper start
    ***********************************-->
	<div id="main-wrapper">
		<!--**********************************
            Nav header start
        ***********************************-->
		<div th:replace="layout/NavHeader :: NavHeader"></div>

		<!--**********************************
            Nav header end
        ***********************************-->


		<!--**********************************
            Header start
        ***********************************-->
		<div th:replace="layout/header :: header"></div>

		<!--**********************************
            Header end ti-comment-alt
        ***********************************-->

		<!--**********************************
            Sidebar start
        ***********************************-->
		<div th:replace="layout/sidebar :: sidebar"></div>

		<!--**********************************
            Sidebar end
        ***********************************-->


		<!--**********************************
            Content body start
        ***********************************-->
		<div class="content-body">
			<div class="container-fluid">

				<!-- row -->
				<div class="row">
					<div class="col-xl-12 col-xxl-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Veuillez remplir les champs marqués d'une astérisque (*) car ils
									sont obligatoires.</h4>
							</div>
							<div class="card-body">
								<div id="smartwizard" class="form-wizard order-create">
									<ul class="nav nav-wizard">
										<li><a class="nav-link" href="#wizard_Service"><span>1</span></a></li>
										<li><a class="nav-link" href="#wizard_Time"><span>2</span></a></li>
										<li><a class="nav-link" href="#wizard_Payment"><span>3</span></a></li>
									</ul>
									<form class="tab-content" th:action="@{/ajouter-offre}" method="post"
										th:object="${daretOperation}">
										<div id="wizard_Service" class="tab-pane" role="tabpanel">
											<div class="row">
												<div class="col-lg-12 mb-2">
													<div class="form-group">
														<label for="designation">Nom d'opération :</label>
														<input type="text" id="designation" th:field="*{designation}"
															class="form-control"
															placeholder="Entrez le nom d'opération">
														<span class="text-danger"
															th:if="${#fields.hasErrors('designation')}"
															th:errors="*{designation}"></span>

													</div>
												</div>
												<div class="col-lg-12 mb-2">
													<div class="form-group">
														<label for="single-select">Type de Période</label>
														<select id="single-select" class="form-control"
															name="typePeriode" th:field="*{typePeriode}">
															<option value="mensuelle">Mensuelle</option>
															<option value="hebdomadaire">Hebdomadaire</option>
															<option value="par semaine">Par semaine</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div id="wizard_Time" class="tab-pane" role="tabpanel">
											<div class="row">

												<div class="col-lg-12 mb-2">
													<div class="form-group">
														<label for="nombreParticipant">Nombre de Personne : </label>
														<div class="input-group">
															<button type="button" class="btn btn-outline-primary"
																onclick="decrement()">-</button>
															<input type="number" class="form-control mx-1"
																id="nombreParticipant" name="nombreParticipant"
																th:field="*{nombreParticipant}"
																placeholder="Enter Nombre de Personne">
															<button type="button" class="btn btn-outline-primary"
																onclick="increment()">+</button>
															<span th:if="${#fields.hasErrors('nombreParticipant')}"
																th:errors="*{nombreParticipant}"
																class="text-danger"></span>

														</div>
													</div>
												</div>
												<div class="col-lg-12 mb-2">
													<div class="form-group">
														<label for="montantParPeriode">Montant par Période :</label>
														<div class="input-group">
															<button type="button" class="btn btn-outline-primary"
																onclick="decrementMontant()">-</button>
															<input type="number" class="form-control"
																id="montantParPeriode" name="montantParPeriode"
																th:field="*{montantParPeriode}"
																placeholder="Enter Montant par Période">
															<button type="button" class="btn btn-outline-primary"
																onclick="incrementMontant()">+</button>
														</div>
													</div>
												</div>
											</div>
										</div>

										<div id="wizard_Payment" class="tab-pane" role="tabpanel">
											<div class="row">
												<div class="col-lg-6 mx-auto mb-2">
													<div class="form-group">
														<button type="submit"
															class="btn btn-success w-100">Ajouter</button>
													</div>
												</div>
											</div>

										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--**********************************
            Content body end
        ***********************************-->




		<!--**********************************
           Support ticket button start
        ***********************************-->

		<!--**********************************
           Support ticket button end
        ***********************************-->


	</div>
	<!--**********************************
        Main wrapper end
    ***********************************-->

	<!--**********************************
        Scripts
    ***********************************-->
	<!--  vendors -->
	<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
	<script src="vendor/global/global.min.js"></script>
	<script src="vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

	<script src="vendor/jquery-steps/build/jquery.steps.min.js"></script>
	<script src="vendor/jquery-validation/jquery.validate.min.js"></script>
	<!-- Form validate init -->
	<script src="js/plugins-init/jquery.validate-init.js"></script>
	<script src="vendor/select2/js/select2.full.min.js"></script>
	<script src="js/plugins-init/select2-init.js"></script>
	<!-- Form Steps -->
	<script src="vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js"></script>

	<script src="js/custom.min.js"></script>
	<script src="js/deznav-init.js"></script>
	<script src="js/demo.js"></script>
	<script>
		function increment() {
			var input = document.getElementById('nombreParticipant');
			input.stepUp();
		}

		function decrement() {
			var input = document.getElementById('nombreParticipant');
			input.stepDown();
		}
		function incrementMontant() {
			var input = document.getElementById('montantParPeriode');
			input.stepUp();
		}

		function decrementMontant() {
			var input = document.getElementById('montantParPeriode');
			input.stepDown();
		}
		var currentDate = new Date();

		// Set the day, month, and year buttons
		document.getElementById('dayButton').textContent = `${currentDate.toLocaleDateString('en-US', { weekday: 'long' })} ${currentDate.getDate()}`;
		document.getElementById('monthButton').textContent = currentDate.toLocaleString('default', { month: 'short' });
		document.getElementById('yearButton').textContent = currentDate.getFullYear();
	</script>
</body>

</html>