<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head">


<body>

	<!--*************************************Preloader-Start***********************************-->
	<div id="preloader">
		<div class="sk-three-bounce">
			<div class="sk-child sk-bounce1"></div>
			<div class="sk-child sk-bounce2"></div>
			<div class="sk-child sk-bounce3"></div>
		</div>
	</div>
	<!--*************************************Preloader-End*************************************-->

	<!--**********************************Main wrapper start***********************************-->
	<div id="main-wrapper">

		<!--**********************************Nav header start*************************************-->
		<div th:replace="layout/NavHeader :: NavHeader"></div>
		<!--**********************************Nav header end***************************************-->

		<!--**********************************Header start*****************************************-->
		<div th:replace="layout/header :: header"></div>
		<!--**********************************Header end*******************************************-->

		<!--***********************************Sidebar start***************************************-->
		<div th:replace="layout/sidebar :: sidebar"></div>
		<!--***********************************Sidebar end*****************************************-->

		<!--***********************************Content body start**********************************-->
		<div class="content-body">
			<div class="container-fluid">
				<div class="card">
					<div class="card-header d-sm-flex d-block">
						<div class="mr-auto mb-sm-0 mb-3">
							<h4 class="card-title mb-2">La liste des participants concernat la tontine :
								[[${daretOperation.designation}]]</h4>
							<div th:if="${ErrorMessage}" class="alert alert-danger text-dark" role="alert">
								<span th:text="${ErrorMessage}"></span>
							</div>

						</div>
						<form th:if="${user.role !='USER' and user.id==daretOperation.AdminOffre.id}"
							th:action="@{/valider-paiement/{DaretOperationId}(DaretOperationId=${daretOperation.id})}"
							method="post">
							<button type="submit" class="btn btn-info">
								VALIDER
							</button>
						</form>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table style-1 text-center" id="ListDatatableView">
								<thead>
									<tr class="text-center">
										<th>#</th>
										<th>PARTICIPANT</th>
										<th>MONTANT</th>
										<th>TYPE DE MONTANT</th>
										<th>DATE DE PAYEMENT</th>
										<th>TOUR DE ROLE</th>
										<th th:if="${user.role!='USER' and user.id==daretOperation.AdminOffre.id}">
											ACTION</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="participant,iterStat : ${participants}">
										<td th:text="${iterStat.count}"></td>
										<td>
											<div class="media style-1">
												<span class="icon-name mr-2 bgl-info text-info">k</span>
												<div class="media-body">
													<h6 th:text="${participant.user.prenom+' '+participant.user.nom}">
													</h6>
													<span><a
															class="__cf_email__">[[${participant.user.email}]]</a></span>
												</div>
											</div>
										</td>
										<td>[[${participant.montantPaye}]] DH</td>
										<td>[[${participant.typePayement}]]</td>
										<!-- Assurez-vous que iterStat.index - 1 est valide avant de l'utiliser -->
										<td th:if="${iterStat.index > 0}">
											[[${participants[iterStat.index - 1].datePaiement}]]
										</td>
										<td th:unless="${iterStat.index > 0}">
											[[${participant.datePaiement}]]
										</td>


										<td
											th:text="${participant.EtatTour == 'current' ? 'Actuel' : (participant.EtatTour == 'not_done' ? 'Pas Encore' : 'Déjà Fait')}">
										</td>
										<td th:if="${user.role!='USER' and user.id==daretOperation.AdminOffre.id}">

											<form
												th:action="@{/passer-paiement/{participantId}(participantId=${participant.id})}"
												method="post">
												<button th:if="${participant.datePaiement!=null}" type="submit"
													class="btn btn-info"
													th:disabled="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd') != #temporals.format(participant.datePaiement, 'yyyy-MM-dd') or participant.verifyPayement != 0}">
													Payer
												</button>
												<button th:if="${participant.datePaiement==null}"  type="submit" class="btn btn-info"
													th:disabled="${iterStat.index == 0 and #temporals.format(#temporals.createNow(), 'yyyy-MM-dd') != #temporals.format(participant.datePaiement, 'yyyy-MM-dd') or participant.verifyPayement != 0}">
													Payer
												</button>

											</form>
										</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--**********************************
            Content body end
            ***********************************-->
	</div>
	<!-- Required vendors -->
	<!-- Required vendors -->
	<script th:src="@{/vendor/global/global.min.js}"></script>
	<script th:src="@{/vendor/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
	<script th:src="@{/vendor/chart.js/Chart.bundle.min.js}"></script>
	<script th:src="@{/vendor/peity/jquery.peity.min.js}"></script>
	<script th:src="@{/vendor/owl-carousel/owl.carousel.js}"></script>
	<script th:src="@{/js/custom.min.js}"></script>
	<script th:src="@{/js/deznav-init.js}"></script>
	<script th:src="@{/js/demo.js}"></script>
	<script th:src="@{/vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js}"></script>
	<script th:src="@{/vendor/select2/js/select2.full.min.js}"></script>
	<!-- Datatable -->
	<script th:src="@{/vendor/datatables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/js/plugins-init/datatables.init.js}"></script>

	<script>
		// Get the current date
		var currentDate = new Date();

		// Set the day, month, and year buttons
		document.getElementById('dayButton').textContent = `${currentDate.toLocaleDateString('en-US', {weekday: 'long'})} ${currentDate.getDate()}`;
		document.getElementById('monthButton').textContent = currentDate.toLocaleString('default', {month: 'short'});
		document.getElementById('yearButton').textContent = currentDate.getFullYear();
	</script>
</body>

</html>