<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head">

<body>

	<!--*************************************Preloader-Start***********************************-->
	<div id="preloader">
		<div class="sk-three-bounce">
			<div class="sk-child sk-bounce1"></div>
			<div class="sk-child sk-bounce2"></div>
			<div class="sk-child sk-bounce3"></div>
		</div>
	</div>
	<!--*************************************Preloader-End*************************************-->

	<!--**********************************Main wrapper start***********************************-->
	<div id="main-wrapper">

		<!--**********************************Nav header start*************************************-->
		<div th:replace="layout/NavHeader :: NavHeader"></div>
		<!--**********************************Nav header end***************************************-->

		<!--**********************************Header start*****************************************-->
		<div th:replace="layout/header :: header"></div>
		<!--**********************************Header end*******************************************-->

		<!--***********************************Sidebar start***************************************-->
		<div th:replace="layout/sidebar :: sidebar"></div>
		<!--***********************************Sidebar end*****************************************-->

		<!--***********************************Content body start**********************************-->
		<div class="content-body">
			<div class="container-fluid">
				<!-- row -->
				<div class="row">
					<div class="col-xl-12 col-xxl-12">
						<div class="card">
							<div class="card-header bg-primary">
								<h2 class="card-title text-white">Modification d'une Tontine
									<span class="__cf_email__"> (Les champs marqués d'une * sont obligatoires ) .</span>
								</h2>
							</div>
							<div class="card-body" style="background-color: #74A892;">
								<div id="smartwizard" class="form-wizard order-create"
									style="background-color: #FBF2C4;">
									<ul class="nav nav-wizard">
										<li><a class="nav-link" href="#information-de-tontine"><span>1</span></a></li>
										<li><a class="nav-link" href="#places-de-tontine"><span>2</span></a></li>
										<li><a class="nav-link" href="#ajouter-une-tontine"><span>3</span></a></li>
									</ul>
									<form class="tab-content" th:action="@{'/modifier-tontine/' + ${daretOperation.id}}"
										method="post" th:object="${daretOperation}" onsubmit="return validateForm()">
										<div id="information-de-tontine" class="tab-pane mt-3" role="tabpanel">
											<div class="row">
												<div class="col-lg-12 mb-2">
													<div class="form-group">
														<label for="designation" style="font-weight: bold;">Nom du
															Tontine * :</label>
														<input type="text" id="designation" th:field="*{designation}"
															class="form-control border border-primary rounded-5"
															placeholder="Entrez le nom du Tontine">
													</div>
												</div>
												<div class="col-lg-12 mb-2">
													<div class="form-group">
														<label for="single-select" style="font-weight: bold;">Type de
															Période * :</label>
														<select id="single-select"
															class="form-control border border-primary rounded-5"
															name="typePeriode" th:field="*{typePeriode}">
															<option value="Mensuelle">Mensuelle</option>
															<option value="Quotidienne">Quotidienne</option>
															<option value="Hebdomadaire">Hebdomadaire</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div id="places-de-tontine" class="tab-pane mt-3" role="tabpanel">
											<div class="row">
												<div class="col-lg-12 mb-2">
													<div class="form-group">
														<label for="nombreParticipant" style="font-weight: bold;">Nombre
															de Participant * : </label>
														<div class="input-group">
															<input type="number"
																class="form-control border border-primary rounded-5"
																id="nombreParticipant" name="nombreParticipant"
																th:field="*{nombreParticipant}"
																placeholder="Entrez le nombre de Participant">
														</div>
													</div>
												</div>
												<div class="col-lg-12">
													<div class="form-group">
														<label for="montantParPeriode"
															style="font-weight: bold;">Montant par Période * :</label>
														<div class="input-group">
															<input type="number"
																class="form-control border border-primary rounded-5"
																id="montantParPeriode" name="montantParPeriode"
																th:field="*{montantParPeriode}"
																placeholder="Entrez le montant par Période">
														</div>
													</div>
												</div>
											</div>
										</div>

										<div id="ajouter-une-tontine" class="tab-pane mt-3" role="tabpanel">
											<div class="row">
												<div class="col-lg-6 mx-auto mb-2">
													<div class="form-group">
														<button type="submit"
															class="btn btn-primary w-100">Modifier</button>
													</div>
												</div>
											</div>

										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--**********************************
            Content body end
        ***********************************-->



		<!--**********************************
            Footer start
        ***********************************-->
		<div class="footer text-dark" style="background-color: #FBF2C4">
			<div class="copyright">
				<p>Copyright © Designed &amp; Developed by <a href="https://github.com/khalid-tourhzaoui"
						target="_blank">KHALID TOURHZAOUI</a> 2024</p>
			</div>
		</div>
		<!--**********************************
            Footer end
        ***********************************-->


	</div>
	<!--**********************************
        Main wrapper end
    ***********************************-->

	<!--**********************************
        Scripts
    ***********************************-->
	<!-- Required vendors -->
	<script th:src="@{/vendor/global/global.min.js}"></script>
	<script th:src="@{/vendor/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
	<script th:src="@{/vendor/chart.js/Chart.bundle.min.js}"></script>
	<script th:src="@{/vendor/peity/jquery.peity.min.js}"></script>
	<script th:src="@{/vendor/apexchart/apexchart.js}"></script>
	<script th:src="@{/js/dashboard/dashboard-1.js}"></script>
	<script th:src="@{/vendor/owl-carousel/owl.carousel.js}"></script>
	<script th:src="@{/js/custom.min.js}"></script>
	<script th:src="@{/js/deznav-init.js}"></script>
	<script th:src="@{/js/demo.js}"></script>
	<script th:src="@{/vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js}"></script>
	<script th:src="@{/vendor/select2/js/select2.full.min.js}"></script>
	<script th:src="@{/vendor/jquery-steps/build/jquery.steps.min.js}"></script>
	<script th:src="@{/vendor/jquery-validation/jquery.validate.min.js}"></script>
	<script th:src="@{/vendor/datatables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/js/plugins-init/datatables.init.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

	<script th:if="${errorMessage}" th:inline="javascript">

		Swal.fire({
			icon: "error",
			title: "Oops...",
			text: [[${errorMessage}]],
		});

	</script>

	<script>
		// Fonction pour valider le formulaire côté client
		function validateForm() {
			// Récupérez les valeurs des champs
			var designation = document.getElementById('designation').value;
			var typePeriode = document.getElementById('single-select').value;
			var nombreParticipant = document.getElementById('nombreParticipant').value;
			var montantParPeriode = document.getElementById('montantParPeriode').value;

			// Effectuez vos validations ici
			if (designation.trim() === "") {
				alert("Le nom d'opération est obligatoire");
				return false;
			}

			if (typePeriode.trim() === "") {
				alert("Le type de période est obligatoire");
				return false;
			}

			if (isNaN(nombreParticipant) || nombreParticipant < 3) {
				alert("Le nombre de participants doit être d'au moins 3");
				return false;
			}

			if (isNaN(montantParPeriode) || montantParPeriode < 0) {
				alert("Le montant par période doit être un nombre positif");
				return false;
			}

			// Si toutes les validations réussissent, retournez true
			return true;
		}
		function increment() {
			var input = document.getElementById('nombreParticipant');
			input.stepUp();
		}

		function decrement() {
			var input = document.getElementById('nombreParticipant');
			input.stepDown();
		}
		function incrementMontant() {
			var input = document.getElementById('montantParPeriode');
			input.stepUp();
		}

		function decrementMontant() {
			var input = document.getElementById('montantParPeriode');
			input.stepDown();
		}
		var currentDate = new Date();

		// Set the day, month, and year buttons
		document.getElementById('dayButton').textContent = `${currentDate.toLocaleDateString('en-US', {weekday: 'long'})} ${currentDate.getDate()}`;
		document.getElementById('monthButton').textContent = currentDate.toLocaleString('default', {month: 'short'});
		document.getElementById('yearButton').textContent = currentDate.getFullYear();
	</script>
</body>

</html>