<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head">

<body>

	<!--*************************************Preloader-Start***********************************-->
	<div id="preloader">
		<div class="sk-three-bounce">
			<div class="sk-child sk-bounce1"></div>
			<div class="sk-child sk-bounce2"></div>
			<div class="sk-child sk-bounce3"></div>
		</div>
	</div>
	<!--*************************************Preloader-End*************************************-->

	<!--**********************************Main wrapper start***********************************-->
	<div id="main-wrapper">

		<!--**********************************Nav header start*************************************-->
		<div th:replace="layout/NavHeader :: NavHeader"></div>
		<!--**********************************Nav header end***************************************-->

		<!--**********************************Header start*****************************************-->
		<div th:replace="layout/header :: header"></div>
		<!--**********************************Header end*******************************************-->

		<!--***********************************Sidebar start***************************************-->
		<div th:replace="layout/sidebar :: sidebar"></div>
		<!--***********************************Sidebar end*****************************************-->

		<!--***********************************Content body start**********************************-->
		<div class="content-body">
			<div class="container-fluid">
				<!-- row -->
				<div class="row">
					<div class="col-xl-12 col-xxl-12">
						<div class="card">
							<div class="card-header">
								
							</div>
							<div class="card-body">
								<div id="smartwizard" class="form-wizard order-create">
									<ul class="nav nav-wizard">
										<li><a class="nav-link" href="#information-de-tontine"><span>1</span></a></li>
										<li><a class="nav-link" href="#places-de-tontine"><span>2</span></a></li>
										<li><a class="nav-link" href="#ajouter-une-tontine"><span>3</span></a></li>
									</ul>
									<form class="tab-content" th:action="@{'/modifier-tontine/' + ${daretOperation.id}}"
										method="post" th:object="${daretOperation}" onsubmit="return validateForm()">
										<div id="information-de-tontine" class="tab-pane" role="tabpanel">
											<div class="row">
												<div class="col-lg-12 mb-2">
													<div class="form-group">
														<label for="designation">Nom d'opération :</label>
														<input type="text" id="designation" th:field="*{designation}"
															class="form-control"
															placeholder="Entrez le nom d'opération">
													</div>
												</div>
												<div class="col-lg-12 mb-2">
													<div class="form-group">
														<label for="single-select">Type de Période</label>
														<select id="single-select" class="form-control"
															name="typePeriode" th:field="*{typePeriode}">
															<option value="mensuelle">Mensuelle</option>
															<option value="hebdomadaire">Hebdomadaire</option>
															<option value="semaine">Par semaine</option>
														</select>
													</div>
												</div>
											</div>
										</div>
										<div id="places-de-tontine" class="tab-pane" role="tabpanel">
											<div class="row">

												<div class="col-lg-12 mb-2">
													<div class="form-group">
														<label for="nombreParticipant">Nombre de Personne : </label>
														<div class="input-group">
															<button type="button" class="btn btn-outline-primary"
																onclick="decrement()">-</button>
															<input type="number" class="form-control mx-1"
																id="nombreParticipant" name="nombreParticipant"
																th:field="*{nombreParticipant}"
																placeholder="Enter Nombre de Personne">
															<button type="button" class="btn btn-outline-primary"
																onclick="increment()">+</button>
														</div>
													</div>
												</div>
												<div class="col-lg-12 mb-2">
													<div class="form-group">
														<label for="montantParPeriode">Montant par Période :</label>
														<div class="input-group">
															<button type="button" class="btn btn-outline-primary"
																onclick="decrementMontant()">-</button>
															<input type="number" class="form-control"
																id="montantParPeriode" name="montantParPeriode"
																th:field="*{montantParPeriode}"
																placeholder="Enter Montant par Période">
															<button type="button" class="btn btn-outline-primary"
																onclick="incrementMontant()">+</button>
														</div>

													</div>
												</div>
											</div>
										</div>

										<div id="ajouter-une-tontine" class="tab-pane" role="tabpanel">
											<div class="row">
												<div class="col-lg-6 mx-auto mb-2">
													<div class="form-group">
														<button type="submit"
															class="btn btn-success w-100">Ajouter</button>
													</div>
												</div>
											</div>

										</div>

									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--**********************************
            Content body end
        ***********************************-->




		<!--**********************************
           Support ticket button start
        ***********************************-->

		<!--**********************************
           Support ticket button end
        ***********************************-->


	</div>
	<!--**********************************
        Main wrapper end
    ***********************************-->

	<!--**********************************
        Scripts
    ***********************************-->
	<!-- Required vendors -->
	<script th:src="@{/vendor/global/global.min.js}"></script>
	<script th:src="@{/vendor/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
	<script th:src="@{/vendor/chart.js/Chart.bundle.min.js}"></script>
	<script th:src="@{/vendor/peity/jquery.peity.min.js}"></script>
	<script th:src="@{/vendor/apexchart/apexchart.js}"></script>
	<script th:src="@{/js/dashboard/dashboard-1.js}"></script>
	<script th:src="@{/vendor/owl-carousel/owl.carousel.js}"></script>
	<script th:src="@{/js/custom.min.js}"></script>
	<script th:src="@{/js/deznav-init.js}"></script>
	<script th:src="@{/js/demo.js}"></script>
	<script th:src="@{/vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js}"></script>
	<script th:src="@{/vendor/select2/js/select2.full.min.js}"></script>

    <!-- Toastr -->
    <script src="vendor/toastr/js/toastr.min.js"></script>
    <script src="js/plugins-init/toastr-init.js"></script>
	
<script th:if="${errorMessage}" th:inline="javascript">
    /*<![CDATA[*/
   $(document).ready(function() {
    console.log("Script executed");
    toastr.options = {
        positionClass: 'toast-top-full-width',
        timeOut: 5000,
        extendedTimeOut: 1000, 
        close: true,
        toastClass: 'mt-5',
    };
    toastr.error([[${errorMessage}]]);
});

    /*]]>*/
</script>

	<script>
		// Fonction pour valider le formulaire côté client
		function validateForm() {
			// Récupérez les valeurs des champs
			var designation = document.getElementById('designation').value;
			var typePeriode = document.getElementById('single-select').value;
			var nombreParticipant = document.getElementById('nombreParticipant').value;
			var montantParPeriode = document.getElementById('montantParPeriode').value;

			// Effectuez vos validations ici
			if (designation.trim() === "") {
				alert("Le nom d'opération est obligatoire");
				return false;
			}

			if (typePeriode.trim() === "") {
				alert("Le type de période est obligatoire");
				return false;
			}

			if (isNaN(nombreParticipant) || nombreParticipant < 2) {
				alert("Le nombre de participants doit être d'au moins 2");
				return false;
			}

			if (isNaN(montantParPeriode) || montantParPeriode < 0) {
				alert("Le montant par période doit être un nombre positif");
				return false;
			}

			// Si toutes les validations réussissent, retournez true
			return true;
		}
		function increment() {
			var input = document.getElementById('nombreParticipant');
			input.stepUp();
		}

		function decrement() {
			var input = document.getElementById('nombreParticipant');
			input.stepDown();
		}
		function incrementMontant() {
			var input = document.getElementById('montantParPeriode');
			input.stepUp();
		}

		function decrementMontant() {
			var input = document.getElementById('montantParPeriode');
			input.stepDown();
		}
		var currentDate = new Date();

		// Set the day, month, and year buttons
		document.getElementById('dayButton').textContent = `${currentDate.toLocaleDateString('en-US', {weekday: 'long'})} ${currentDate.getDate()}`;
		document.getElementById('monthButton').textContent = currentDate.toLocaleString('default', {month: 'short'});
		document.getElementById('yearButton').textContent = currentDate.getFullYear();
	</script>
</body>

</html>