<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head">

<body>

	<!--*************************************Preloader-Start***********************************-->
	<div id="preloader">
		<div class="sk-three-bounce">
			<div class="sk-child sk-bounce1"></div>
			<div class="sk-child sk-bounce2"></div>
			<div class="sk-child sk-bounce3"></div>
		</div>
	</div>
	<!--*************************************Preloader-End*************************************-->

	<!--**********************************Main wrapper start***********************************-->
	<div id="main-wrapper">

		<!--**********************************Nav header start*************************************-->
		<div th:replace="layout/NavHeader :: NavHeader"></div>
		<!--**********************************Nav header end***************************************-->

		<!--**********************************Header start*****************************************-->
		<div th:replace="layout/header :: header"></div>
		<!--**********************************Header end*******************************************-->

		<!--***********************************Sidebar start***************************************-->
		<div th:replace="layout/sidebar :: sidebar"></div>
		<!--***********************************Sidebar end*****************************************-->

		<!--***********************************Content body start**********************************-->
		<div class="content-body">
			<div class="container-fluid">
				<!-- ADMIN-->
				<div th:if="${user.role=='ADMIN'}">
					<!--**********************************************************************************************-->
					<div class="card" style="background-color: #74A892">
						<div class="card-body">
							<div id="accordion-seven" class="accordion accordion-header-bg accordion-bordered">
								<div class="accordion__item">
									<div class="accordion__header accordion__header--primary" data-toggle="collapse"
										data-target="#header-bg_collapseOne">
										<span class="accordion__header--icon"></span>
										<strong class="accordion__header--text">Ces cartes représentent le nombre des
											tontines présentes dans votre application.</strong>
										<span class="accordion__header--indicator"></span>
									</div>
									<div id="header-bg_collapseOne" class="collapse accordion__body show bg-light"
										data-parent="#accordion-seven">
										<div class="accordion__body--text">
											<div class="row">
												<!-------------->
												<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
													<div class="widget-stat card bg-warning">
														<div class="card-body p-4">
															<div class="media">
																<span class="mr-2 bg-white">
																	<img src="/images/piggy-bank.gif"
																		class="img img-fluid" />
																</span>
																<div class="media-body text-white text-right">
																	<p class="mb-1">Nombre des tontines en cours</p>
																	<h3 class="text-white">[[${AllTontineProgress}]]
																	</h3>
																</div>
															</div>
														</div>
														<div class="card-footer text-center">
															<a class="btn btn-light text-warning"
																th:href="@{/liste-des-toutes-les-tontines?status=Progress}">
																Plus d'infos <i class="fas fa-arrow-circle-right"></i>
															</a>
														</div>
													</div>
												</div>
												<!-------------->
												<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
													<div class="widget-stat card bg-info">
														<div class="card-body p-4">
															<div class="media">
																<span class="mr-2 bg-white">
																	<img src="/images/pending-icon.gif"
																		class="img img-fluid" />
																</span>
																<div class="media-body text-white text-right">
																	<p class="mb-1">Nombre des tontines en attente </p>
																	<h3 class="text-white">[[${AllTontinePending}]]</h3>
																</div>
															</div>
														</div>
														<div class="card-footer text-center">
															<a class="btn btn-light text-info"
																th:href="@{/liste-des-toutes-les-tontines?status=Pending}">
																Plus d'infos <i class="fas fa-arrow-circle-right"></i>
															</a>
														</div>
													</div>
												</div>
												<!-------------->
												<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
													<div class="widget-stat card bg-success">
														<div class="card-body p-4">
															<div class="media">
																<span class="mr-2 bg-white">
																	<img src="/images/closed-unscreen.gif"
																		class="img img-fluid" />
																</span>
																<div class="media-body text-white text-right">
																	<p class="mb-1 text-sm">Nombre des tontines terminer
																	</p>
																	<h3 class="text-white">[[${AllTontineClosed}]]</h3>
																</div>
															</div>
														</div>
														<div class="card-footer text-center">
															<a class="btn btn-light text-success"
																th:href="@{/liste-des-toutes-les-tontines?status=Closed}">
																Plus d'infos <i class="fas fa-arrow-circle-right"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--**********************************************************************************************-->
					<!--**********************************************************************************************-->
					<div class="card" style="background-color: #74A892">
						<div class="card-body">
							<div id="accordion-seven" class="accordion accordion-header-bg accordion-bordered">
								<div class="accordion__item">
									<div class="accordion__header accordion__header--primary" data-toggle="collapse"
										data-target="#header-bg_collapseTwo">
										<span class="accordion__header--icon"></span>
										<strong class="accordion__header--text">Ces cartes représentent le nombre des
											utilisateurs présentes dans votre application.</strong>
										<span class="accordion__header--indicator"></span>
									</div>
									<div id="header-bg_collapseTwo" class="collapse accordion__body show bg-light"
										data-parent="#accordion-seven">
										<div class="accordion__body--text">
											<div class="row">
												<!-------------->
												<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
													<div class="widget-stat card bg-warning">
														<div class="card-body p-4">
															<div class="media">
																<span class="mr-2 bg-white">
																	<img src="/images/piggy-bank.gif"
																		class="img img-fluid" />
																</span>
																<div class="media-body text-white text-right">
																	<p class="mb-1">Nombre des utilistauers</p>
																	<h3 class="text-white">[[${AllUsers}]]</h3>
																</div>
															</div>
														</div>
														<div class="card-footer text-center">
															<a class="btn btn-light text-warning"
																th:href="@{/liste-utilisateurs}">
																Plus d'infos <i class="fas fa-arrow-circle-right"></i>
															</a>
														</div>
													</div>
												</div>
												<!-------------->
												<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
													<div class="widget-stat card bg-info">
														<div class="card-body p-4">
															<div class="media">
																<span class="mr-2 bg-white">
																	<img src="/images/pending-icon.gif"
																		class="img img-fluid" />
																</span>
																<div class="media-body text-white text-right">
																	<p class="mb-1">Nombre des createurs </p>
																	<h3 class="text-white">[[${AllCreateur}]]</h3>
																</div>
															</div>
														</div>
														<div class="card-footer text-center">
															<a class="btn btn-light text-info"
																th:href="@{/liste-utilisateurs}">
																Plus d'infos <i class="fas fa-arrow-circle-right"></i>
															</a>
														</div>
													</div>
												</div>
												<!-------------->

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--**********************************************************************************************-->
				</div>
				<!--CREATEUR/ADMIN-->
				<div th:if="${user.role=='CREATEUR' or user.role == 'ADMIN'}">
					<!--**********************************************************************************************-->
					<div class="card" style="background-color:#74A892">
						<div class="card-body">
							<div id="accordion-seven" class="accordion accordion-header-bg accordion-bordered">
								<div class="accordion__item">
									<div class="accordion__header accordion__header--primary" data-toggle="collapse"
										data-target="#header-bg_collapseThree">
										<span class="accordion__header--icon"></span>
										<strong class="accordion__header--text">Ces cartes représentent le nombre des
											tontines que
											vous avez créées.</strong>
										<span class="accordion__header--indicator"></span>
									</div>
									<div id="header-bg_collapseThree" class="collapse accordion__body show bg-light"
										data-parent="#accordion-seven">
										<div class="accordion__body--text">
											<div class="row">
												<!-------------->
												<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
													<div class="widget-stat card bg-warning">
														<div class="card-body p-4">
															<div class="media">
																<span class="mr-2 bg-white">
																	<img src="/images/piggy-bank.gif"
																		class="img img-fluid" />
																</span>
																<div class="media-body text-white text-right">
																	<p class="mb-1">Nombre des tontines en cours</p>
																	<h3 class="text-white">[[${inProgressCount}]]</h3>
																</div>
															</div>
														</div>
														<div class="card-footer text-center">
															<a class="btn btn-light text-warning"
																th:href="@{/liste-des-tontines?status=Progress}">
																Plus d'infos <i class="fas fa-arrow-circle-right"></i>
															</a>
														</div>
													</div>
												</div>
												<!-------------->
												<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
													<div class="widget-stat card bg-info">
														<div class="card-body p-4">
															<div class="media">
																<span class="mr-2 bg-white">
																	<img src="/images/pending-icon.gif"
																		class="img img-fluid" />
																</span>
																<div class="media-body text-white text-right">
																	<p class="mb-1">Nombre des tontines en attente </p>
																	<h3 class="text-white">[[${pendingCount}]]</h3>
																</div>
															</div>
														</div>
														<div class="card-footer text-center">
															<a class="btn btn-light text-info"
																th:href="@{/liste-des-tontines?status=Pending}">
																Plus d'infos <i class="fas fa-arrow-circle-right"></i>
															</a>
														</div>
													</div>
												</div>
												<!-------------->
												<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
													<div class="widget-stat card bg-success">
														<div class="card-body p-4">
															<div class="media">
																<span class="mr-2 bg-white">
																	<img src="/images/closed-unscreen.gif"
																		class="img img-fluid" />
																</span>
																<div class="media-body text-white text-right">
																	<p class="mb-1 text-sm">Nombre des tontines terminer
																	</p>
																	<h3 class="text-white">[[${closedCount}]]</h3>
																</div>
															</div>
														</div>
														<div class="card-footer text-center">
															<a class="btn btn-light text-success"
																th:href="@{/liste-des-tontines?status=Closed}">
																Plus d'infos <i class="fas fa-arrow-circle-right"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--**********************************************************************************************-->
					<div class="card" style="background-color: #74A892">
						<div class="card-body">
							<div id="accordion-two" class="accordion accordion-header-bg accordion-bordered">
								<div class="accordion__item">
									<div class="accordion__header accordion__header--primary" data-toggle="collapse"
										data-target="#header-bg_collapseFour">
										<span class="accordion__header--icon"></span>
										<strong class="accordion__header--text">Ces cartes représentent le nombre des
											tontines auxquelles vous avez participé.</strong>
										<span class="accordion__header--indicator"></span>
									</div>
									<div id="header-bg_collapseFour" class="collapse accordion__body show bg-light"
										data-parent="#accordion-two">
										<div class="accordion__body--text">
											<div class="row">
												<!-------------->
												<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
													<div class="widget-stat card bg-warning">
														<div class="card-body p-4">
															<div class="media">
																<span class="mr-2 bg-white">
																	<img src="/images/piggy-bank.gif"
																		class="img img-fluid" />
																</span>
																<div class="media-body text-white text-right">
																	<p class="mb-1">Nombre des tontines en cours</p>
																	<h3 class="text-white">[[${inProgressCountSelf}]]
																	</h3>
																</div>
															</div>
														</div>
														<div class="card-footer text-center">
															<a class="btn btn-light text-warning"
																th:href="@{/liste-des-participations?status=Progress}">
																Plus d'infos <i class="fas fa-arrow-circle-right"></i>
															</a>
														</div>
													</div>
												</div>
												<!-------------->
												<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
													<div class="widget-stat card bg-info">
														<div class="card-body p-4">
															<div class="media">
																<span class="mr-2 bg-white">
																	<img src="/images/pending-icon.gif"
																		class="img img-fluid" />
																</span>
																<div class="media-body text-white text-right">
																	<p class="mb-1">Nombre des tontines en attente </p>
																	<h3 class="text-white">[[${pendingCountSelf}]]</h3>
																</div>
															</div>
														</div>
														<div class="card-footer text-center">
															<a class="btn btn-light text-info"
																th:href="@{/liste-des-participations?status=Pending}">
																Plus d'infos <i class="fas fa-arrow-circle-right"></i>
															</a>
														</div>
													</div>
												</div>
												<!-------------->
												<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
													<div class="widget-stat card bg-success">
														<div class="card-body p-4">
															<div class="media">
																<span class="mr-2 bg-white">
																	<img src="/images/closed-unscreen.gif"
																		class="img img-fluid" />
																</span>
																<div class="media-body text-white text-right">
																	<p class="mb-1 text-sm">Nombre des tontines terminer
																	</p>
																	<h3 class="text-white">[[${closedCountSelf}]]</h3>
																</div>
															</div>
														</div>
														<div class="card-footer text-center">
															<a class="btn btn-light text-success"
																th:href="@{/liste-des-participations?status=Closed}">
																Plus d'infos <i class="fas fa-arrow-circle-right"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--USER-->
				<div th:if="${user.role=='USER'}">
					<div class="card" style="background-color: #74A892">
						<div class="card-body">
							<div id="accordion-seven" class="accordion accordion-header-bg accordion-bordered">
								<div class="accordion__item">
									<div class="accordion__header accordion__header--primary" data-toggle="collapse"
										data-target="#header-bg_collapseFive">
										<span class="accordion__header--icon"></span>
										<strong class="accordion__header--text">Ces cartes représentent le nombre des
											tontines auxquelles vous avez participé.</strong>
										<span class="accordion__header--indicator"></span>
									</div>
									<div id="header-bg_collapseFive" class="collapse accordion__body show bg-light"
										data-parent="#accordion-seven">
										<div class="accordion__body--text">
											<div class="row">
												<!-------------->
												<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
													<div class="widget-stat card bg-warning">
														<div class="card-body p-4">
															<div class="media">
																<span class="mr-2 bg-white">
																	<img src="/images/piggy-bank.gif"
																		class="img img-fluid" />
																</span>
																<div class="media-body text-white text-right">
																	<p class="mb-1">Nombre des tontines en cours</p>
																	<h3 class="text-white">[[${inProgressCount}]]</h3>
																</div>
															</div>
														</div>
														<div class="card-footer text-center">
															<a class="btn btn-light text-warning"
																th:href="@{/liste-des-participations?status=Progress}">
																Plus d'infos <i class="fas fa-arrow-circle-right"></i>
															</a>
														</div>
													</div>
												</div>
												<!-------------->
												<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
													<div class="widget-stat card bg-info">
														<div class="card-body p-4">
															<div class="media">
																<span class="mr-2 bg-white">
																	<img src="/images/pending-icon.gif"
																		class="img img-fluid" />
																</span>
																<div class="media-body text-white text-right">
																	<p class="mb-1">Nombre des tontines en attente </p>
																	<h3 class="text-white">[[${pendingCount}]]</h3>
																</div>
															</div>
														</div>
														<div class="card-footer text-center">
															<a class="btn btn-light text-info"
																th:href="@{/liste-des-participations?status=Pending}">
																Plus d'infos <i class="fas fa-arrow-circle-right"></i>
															</a>
														</div>
													</div>
												</div>
												<!-------------->
												<div class="col-xl-3 col-xxl-4 col-lg-6 col-sm-6">
													<div class="widget-stat card bg-success">
														<div class="card-body p-4">
															<div class="media">
																<span class="mr-2 bg-white">
																	<img src="/images/closed-unscreen.gif"
																		class="img img-fluid" />
																</span>
																<div class="media-body text-white text-right">
																	<p class="mb-1 text-sm">Nombre des tontines terminer
																	</p>
																	<h3 class="text-white">[[${closedCount}]]</h3>
																</div>
															</div>
														</div>
														<div class="card-footer text-center">
															<a class="btn btn-light text-success"
																th:href="@{/liste-des-participations?status=Closed}">
																Plus d'infos <i class="fas fa-arrow-circle-right"></i>
															</a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--**********************************
            Footer start
        ***********************************-->
	<div class="footer text-dark" style="background-color: #FBF2C4">
		<div class="copyright">
			<p>Copyright © Designed &amp; Developed by <a href="https://github.com/khalid-tourhzaoui"
					target="_blank">KHALID TOURHZAOUI</a> 2024</p>
		</div>
	</div>
	<!--**********************************
            Footer end
        ***********************************-->

	<script th:src="@{/vendor/global/global.min.js}"></script>
	<script th:src="@{/vendor/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
	<script th:src="@{/vendor/chart.js/Chart.bundle.min.js}"></script>
	<script th:src="@{/vendor/peity/jquery.peity.min.js}"></script>
	<script th:src="@{/vendor/apexchart/apexchart.js}"></script>
	<script th:src="@{/js/dashboard/dashboard-1.js}"></script>
	<script th:src="@{/vendor/owl-carousel/owl.carousel.js}"></script>
	<script th:src="@{/js/custom.min.js}"></script>
	<script th:src="@{/js/deznav-init.js}"></script>
	<script th:src="@{/js/demo.js}"></script>
	<script th:src="@{/vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js}"></script>
	<script th:src="@{/vendor/select2/js/select2.full.min.js}"></script>
	<script th:src="@{/vendor/jquery-steps/build/jquery.steps.min.js}"></script>
	<script th:src="@{/vendor/jquery-validation/jquery.validate.min.js}"></script>
	<script th:src="@{/vendor/datatables/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{/js/plugins-init/datatables.init.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
	<script>
		// Get the current date
		var currentDate = new Date();

		// Set the day, month, and year buttons
		document.getElementById('dayButton').textContent = `${currentDate.toLocaleDateString('en-US', {weekday: 'long'})} ${currentDate.getDate()}`;
		document.getElementById('monthButton').textContent = currentDate.toLocaleString('default', {month: 'short'});
		document.getElementById('yearButton').textContent = currentDate.getFullYear();
	</script>
</body>

</html>