@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');
body {
     font-family: "Playfair Display", serif;
  	font-optical-sizing: auto;
  	font-weight: weight;
  	font-style: normal;
    background-color: #F7F7F7;
}

.login-1 {
	margin-top: 5rem;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

  @media (max-width: 576px) {
   .login-form {
    padding: 1rem; /* Ajoutez un espace autour du formulaire pour une meilleure lisibilité */
  }
  
  .img-box {
    order: 2; /* Inversez l'ordre des éléments sur les petits écrans */
    margin-top: 1rem; /* Ajoutez un espace au-dessus de l'image */
  }
  
  .login-form .login-box {
    padding: 1rem; /* Ajoutez un espace autour du texte pour une meilleure lisibilité */
  }
 }
 
@media only screen and (min-width: 770px)and (max-width: 1200px) {
   .login-form {
    flex-direction: column;
  }
}
.login-form {
    margin: 50rem 0.5rem;
    overflow: hidden;
}

.img-box {
    max-height: 30rem;
    display: flex;
    align-items: center;
}

/*.login-form .login-box {
    font-size: 1rem;
    padding: 1rem 1rem 1rem 1.5rem;
}*/

.login-form .login-box .login-title {
    font-size: 2rem;
    font-weight: 600;
    color: #151865;
}

.login-form .login-box .login-p {
    font-weight: 300;
    color: #151865;
    font-size: 20px;
}

/*.login-form .back-img {
    max-width: 100%;
    height: auto;
}*/

.login-form .check-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-form a {
    color: #151865;
    text-decoration: none;
}

.login-form .form-group, .login-form .input-group {
    padding: 1rem 1.5rem 0.3rem 0rem;
}

.login-form .form-group label {
    margin-bottom: .5rem;
    font-size: 1rem;
}

.login-form .form-group .form-control {
    padding: .810rem 1rem;
    border-color: #45B4D0;
    font-weight: 300;
    color: #151865;
    font-size: 20px;
    margin-bottom: 3px;
}
.login-form .btn-primary {
    background-color: #45B4D0;
    border-color: #45B4D0;
    padding: 0.8rem 2.6rem;
    font-weight: 500;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    margin: 10px 0px 20px;
    border-radius: 5px;
    
}

.login-form .btn-primary:hover {
    background-color: #006adb;
    border-color: #006adb;
}


@media screen and (max-width: 767px) {
	.login-1 {
	margin-top: 0rem;
   
}
}
@media screen and (max-width: 412) {
	.login-form .btn-primary{
		width: 4rem;
	}
}

