<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: head" />

<body>
	<!--*******************Preloader start********************-->
	<div id="preloader">
		<div class="sk-three-bounce">
			<div class="sk-child sk-bounce1"></div>
			<div class="sk-child sk-bounce2"></div>
			<div class="sk-child sk-bounce3"></div>
		</div>
	</div>
	<!--***************** Preloader end********************-->

	<!--**********************************
        Main wrapper start
    ***********************************-->
	<div id="main-wrapper">
		<!--**********************************Nav header start***********************************-->
		<div th:replace="layout/NavHeader :: NavHeader"></div>
		<!--**********************************Nav header end***********************************-->

		<!--**********************************Header start***********************************-->
		<div th:replace="layout/header :: header"></div>
		<!--**********************************Header end ti-comment-alt***********************************-->

		<!--**********************************Sidebar start***********************************-->
		<div th:replace="layout/sidebar :: sidebar"></div>
		<!--**********************************Sidebar end*************************************-->
		<!--**********************************Content body start ***********************************-->
		<div class="content-body" th:fragment="content">
			<div class="container-fluid">
				<!-- row -->
				<div class="row">
					<div class="col-lg-12">
						<div class="profile card card-body px-3 pt-3 pb-0">
							<div class="profile-head">
								<div class="photo-content">
									<div class="cover-photo bg-light"></div>
								</div>
								<div class="profile-info">
									<div class="profile-details">
										<div class="profile-name px-3 pt-2">
											<h4 class="text-primary mb-0 text-capitalize">
												[[${user.nom}]] [[${user.prenom}]]
											</h4>
											<p>DARET / APP ====> [[${user.role}]]</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-12">
						<div class="card">
							<div class="card-body">
								<div class="profile-tab">
									<div class="custom-tab-1 ">
										<ul class="nav nav-tabs">
											<li class="nav-item active">
												<a href="#profile-informations" data-toggle="tab" class="nav-link">
													<i class="la la-user mr-2"></i>Profile
												</a>
											</li>
											<li class="nav-item">
												<a href="#password-informations" data-toggle="tab" class="nav-link">
													<i class="la la-lock mr-2"></i>Mettre à jour le mot de passe
												</a>
											</li>
											<li class="nav-item">
												<a href="#delete-account" data-toggle="tab" class="nav-link">
													<i class="la la-trash mr-2"></i>Supprimer le compte
												</a>
											</li>
										</ul>
										<div class="tab-content">
											<div id="profile-informations" class="tab-pane fade">
												<div class="pt-3">
													<div class="settings-form">
														<form th:action="@{/update-info}" method="post"
															th:object="${user}">
															<div class="form-row" th:if="${user}">
																<input type="hidden" th:field="*{id}" />
																<div class="form-group col-md-6">
																	<label for="nom"style="font-weight: bold;">Nom de famille :</label>
																	<input id="nom" type="text" th:field="*{nom}"
																		th:value="${user.nom}"
																		placeholder="Entrez votre nom"
																		class="form-control border border-primary rounded-5" />
																</div>

																<div class="form-group col-md-6">
																	<label for="prenom"style="font-weight: bold;">Prénom :</label>
																	<input id="prenom" type="text" th:field="*{prenom}"
																		th:value="${user.prenom}"
																		placeholder="Entrez votre prénom"
																		class="form-control border border-primary rounded-5" />
																</div>

																<div class="form-group col-md-6">
																	<label for="CIN"style="font-weight: bold;">CIN :</label>
																	<input id="CIN" type="text" th:field="*{cin}"
																		th:value="${user.cin}"
																		placeholder="Entrez votre CIN"
																		class="form-control border border-primary rounded-5" />
																</div>

																<div class="form-group col-md-6">
																	<label for="email" style="font-weight: bold;">Email :</label>
																	<input id="email" type="email" th:field="*{email}"
																		th:value="${user.email}"
																		placeholder="Entrez votre email"
																		class="form-control border border-primary rounded-5" />
																</div>


																<div class="form-group col-md-6">
																	<label for="gender" style="font-weight: bold;">Genre :</label>
																	<select class="form-control w-100 border border-primary rounded-5" id="gender"
																		name="gender" th:field="*{gender}">
																		<option value="homme">Homme</option>
																		<option value="femme">Femme</option>
																	</select>
																</div>
															</div>

															<button class="btn btn-primary w-100" type="submit">
																Enregistrer
															</button>
														</form>
													</div>
												</div>
											</div>
											<!--***********************************************************************************-->
											<div id="password-informations" class="tab-pane fade">
												<div class="pt-3">
													<div class="settings-form">
														<form th:action="@{/update-password}" method="post">
															<div class="form-row" th:if="${user}">
																<div class="form-group col-md-12">
																	<label for="currentPassword" style="font-weight: bold;">Mot de passe actuel :</label>
																	<input id="currentPassword" type="password"
																		name="currentPassword"
																		placeholder="Entrez votre mot de passe actuel"
																		class="form-control border border-primary rounded-5" />
																</div>
																<div class="form-group col-md-12">
																	<label for="newPassword" style="font-weight: bold;">Nouveau mot de passe :</label>
																	<input id="newPassword" type="password"
																		name="newPassword"
																		placeholder="Entrez votre nouveau mot de passe"
																		class="form-control border border-primary rounded-5" />
																</div>
																<div class="form-group col-md-12">
																	<label for="confirmPassword" style="font-weight: bold;">Confirmez le mot de passe :</label>
																	<input id="confirmPassword" type="password"
																		name="confirmPassword"
																		placeholder="Confirmez votre mot de passe"
																		class="form-control border border-primary rounded-5" />
																</div>
															</div>
															<button class="btn btn-primary w-100" type="submit">
																Enregistrer
															</button>
														</form>
													</div>
												</div>
											</div>
											<!--***********************************************************************************-->
											<div id="delete-account" class="tab-pane fade">
												<div class="pt-3">
													<div class="settings-form">
														<h5 class="text-dark mb-4">
															Lorsque votre compte est supprimé, toutes ses
															ressources et données sont définitivement
															effacées. Veuillez entrer votre mot de passe
															pour confirmer que vous souhaitez supprimer
															votre compte de manière permanente.
														</h5>
														<form th:action="@{/delete-account}" method="post"
															id="deleteAccountForm" th:object="${user}">
															<input type="hidden" th:field="*{email}"
																th:value="${user.email}" />
															<button class="btn btn-primary w-25 mx-auto" type="button"
																data-toggle="modal" data-target="#deleteAccountModal">
																SUPPRIMER LE COMPTE
															</button>
															<div class="modal fade" id="deleteAccountModal"
																tabindex="-1" role="dialog" aria-hidden="true">
																<div class="modal-dialog modal-lg">
																	<div class="modal-content">
																		<div class="modal-header">
																			<h5 class="modal-title">
																				Êtes-vous sûr(e) de vouloir supprimer
																				votre compte ?
																			</h5>
																			<button type="button" class="close"
																				data-dismiss="modal">
																				<span>&times;</span>
																			</button>
																		</div>
																		<div class="modal-body">
																			<h6 class="modal-title mb-5">
																				Lorsque votre compte est supprimé,
																				toutes ses ressources et données sont
																				définitivement effacées. Veuillez
																				entrer votre mot de passe pour
																				confirmer que vous souhaitez supprimer
																				votre compte de manière permanente.
																			</h6>
																			<div class="form-group row">
																				<label for="deletePassword" style="font-weight: bold;">Mot de passe
																					:</label>
																				<input type="password"
																					class="form-control col-md-12 border border-primary rounded-5"
																					id="deletePassword" name="password"
																					required
																					placeholder="Entrez votre mot de passe actuel" />
																			</div>
																		</div>
																		<div class="modal-footer">
																			<button type="button"
																				class="btn btn-danger light"
																				data-dismiss="modal">
																				ANNULER
																			</button>
																			<button type="submit"
																				class="btn btn-primary"
																				onclick="submitDeleteAccountForm()">
																				SUPPRIMER LE COMPTE
																			</button>
																		</div>
																	</div>
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Required vendors -->
	
	<script th:src="@{/vendor/global/global.min.js}"></script>
	<script th:src="@{/vendor/bootstrap-select/dist/js/bootstrap-select.min.js}"></script>
	<script th:src="@{/vendor/chart.js/Chart.bundle.min.js}"></script>
	<script th:src="@{/vendor/peity/jquery.peity.min.js}"></script>
	<script th:src="@{/vendor/apexchart/apexchart.js}"></script>
	<script th:src="@{/js/dashboard/dashboard-1.js}"></script>
	<script th:src="@{/vendor/owl-carousel/owl.carousel.js}"></script>
	<script th:src="@{/js/custom.min.js}"></script>
	<script th:src="@{/js/deznav-init.js}"></script>
	<script th:src="@{/js/demo.js}"></script>
	<script th:src="@{/vendor/jquery-smartwizard/dist/js/jquery.smartWizard.js}"></script>
	<script th:src="@{/vendor/select2/js/select2.full.min.js}"></script>

		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script th:if="${successMessage}" th:inline="javascript">
	    /*<![CDATA[*/
	    $(document).ready(function() {
		Swal.fire({
		  icon: "success",
		  title: [[${successMessage}]],
		  showConfirmButton: false,
		  timer: 2000,
		  
		});
	   });
	    /*]]>*/
	</script>
	<script th:if="${errorMessage}" th:inline="javascript">
	    /*<![CDATA[*/
	    $(document).ready(function() {
		Swal.fire({
		  icon: "error",
		  title: "Oups...",
		  text:[[${errorMessage}]],
		});
	   });
	    /*]]>*/
	</script>
	<script>
		// Get the current date
		var currentDate = new Date();

		// Set the day, month, and year buttons
		document.getElementById(
			"dayButton"
		).textContent = `${currentDate.toLocaleDateString("en-US", {
			weekday: "long",
		})} ${currentDate.getDate()}`;
		document.getElementById("monthButton").textContent =
			currentDate.toLocaleString("default", {month: "short"});
		document.getElementById("yearButton").textContent =
			currentDate.getFullYear();
	</script>
</body>

</html>